@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: thinkMusic;
  src: url(/fonts/ThinkMusic.woff2);
}


body{
  z-index: 1;
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.videoDisplay{
  position: relative;
  width: auto;
  height: 80%;
  margin: 0 auto;
  display: block;
  z-index: 2;
}

.buttonCont{
  z-index: 6;
  text-align:center
}

/* .purple{
  color: #864FA0;
}
.orange{
  color: #F47F52;
}
.green{
  color: #76B966;
}
.yellow{
  color: #FEC66A;
}
.pink{
  color: #DE2F90;
}
.darkBlue{
  color: #01519C;
}
.lightBlue{
  color: #20B6C9;
}

.lightGrey{
  color: #BCBCBC;
}
.medGrey{
color: #59595B;
}
.darkGrey{
  color: #3B3B3F;
} */


.h-0 {
  height: 0px;
}

.h-1	{
  height: 0.25rem; 
} /* 4px */

.h-2	{
  height: 0.5rem; 
} /* 8px */


.h-3	{
  height: 0.75rem; 
} /* 12px */

.h-4	{
  height: 1rem; 
} /* 16px */

.h-5	{
  height: 1.25rem; 
}/* 20px */

.h-6	{
  height: 1.5rem; 
} /* 24px */

.h-7	{
  height: 1.75rem; 
}/* 28px */

.h-8	{
  height: 2rem;
} /* 32px */

.h-9	{
  height: 2.25rem; 
}/* 36px */

.h-10	{
  height: 2.5rem; 
} /* 40px */

.h-11	{
  height: 2.75rem; 
}/* 44px */

.h-12 {
  height: 3rem;
}

.h-14	{
  height: 3.5rem;
} /* 56px */

.h-16	{
  height: 4rem;
} /* 64px */

.h-20	{
  height: 5rem;
} /* 80px */

.h-24	{
  height: 6rem;
} /* 96px */

.h-28	{
  height: 7rem;
} /* 112px */

.h-32	{
  height: 8rem;
} /* 128px */

.h-36	{
  height: 9rem;
} /* 144px */

.h-40	{
  height: 10rem;
} /* 160px */

.h-44	{
  height: 11rem;
} /* 176px */

.h-48	{
  height: 12rem;
} /* 192px */

.h-52	{
  height: 13rem;
} /* 208px */

.h-56	{
  height: 14rem;
} /* 224px */

.h-60	{
  height: 15rem;
} /* 240px */

.h-64	{
  height: 16rem;
} /* 256px */

.h-72	{
  height: 18rem;
} /* 288px */

.h-80	{
  height: 20rem;
} /* 320px */

.h-96	{
  height: 24rem;
} /* 384px */






.bgLightBlueGradient{
  /* background-color: #20B6C9; */
  background: linear-gradient(180deg, rgba(0,127,171,1) 0%, rgba(32,182,201,1) 100%);
  background-size: 400% 400%;
  animation: gradient 15s 5s ease-in infinite;
}

.bgPinkGradient{
  background-color: rgba(222,47,144,1);
  background: linear-gradient(180deg, rgba(119,0,84, 1) 0%, rgba(222,47,144,1) 100%, );
  background-size: 400% 400%;
  animation: gradient 15s 5s ease-in infinite;
}

.bgDarkGrey{
  background-color: #3B3B3F;
  background: linear-gradient(90deg, rgba(111,111,113,1) 0%, rgba(89,89,91,1) 35%, rgba(59,59,63,1) 100%);
  background-size: 400% 400%;
  animation: gradient 15s 5s ease-in infinite;
}

@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}

.bgWhite{
  background-color: #FFFFFF;
}

.title{
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 1px;
}
.secondaryTitle{
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .1rem;
}
.accent{
  font-family: "thinkMusic";
  font-style: normal;
  letter-spacing: .1rem;
}

.subtitle{
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 300;
  font-style: normal;
}


.tileImageCont{
  filter: grayscale(100%);
  background-color: pink;
  width: 10vw;
  height: 10vw;
  position: relative; 
  overflow: hidden;
  border-radius: 50%;
}

.tileImage{
  object-fit: cover;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.tileImageCont :hover{
  filter: grayscale(0%);
}

.grayscale{
  filter: grayscale(100%);
}


.content__container {
    overflow: hidden;
    height: 85px;
}

.content__container__list {
    list-style: none;
    animation-name: change;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
}

.content__container__list__item {
    margin: 0;
    line-height: 87px;
}

@keyframes change {
    0%, 7.14%, 100% {transform:translate3d(0,0,0);}
    14.28% {transform:translate3d(0,-14.28%,0);}
    21.42% {transform:translate3d(0,-28.57%,0);}
    28.57% {transform:translate3d(0,-42.85%,0);}
    35.71% {transform:translate3d(0,-57.14%,0);}
    42.85% {transform:translate3d(0,-71.42%,0);}
    53.5% {transform:translate3d(0,-85.71%,0);}
    64.28% {transform:translate3d(0,-71.42%,0);}
    71.42% {transform:translate3d(0,-57.14%,0);}
    78.54% {transform:translate3d(0,-42.85%,0);}
    85.71% {transform:translate3d(0,-28.57%,0);}
    92.85% {transform:translate3d(0,-14.28%,0);}
}