.animatedBG{
  filter: brightness(0) invert(1);
  animation: run linear infinite forwards;
  animation-duration: 30s;
  animation-delay: 6s;
}
@keyframes run {
  0% {
    left: 24.5%;
    /* bottom: 1%; */
  }
  10% {
    left: 23%;
    /* bottom: 1%; */
  }
  20%{
    left: 27%;
    /* bottom: 1%; */
  }
  30%{
    left: 24.5%;
    /* bottom: 1%; */
  }
  50%{
    left: 24.5%;
    /* bottom: 1%; */
  }
  55% {
    left: 24.2%;
    /* bottom: 1%; */
  }
  60%{
    left: 24.8%;
    /* bottom: 1%; */
  }
 65%{
    left: 24.5%;
    /* bottom: 1%; */
  }
  70% {
    left: 24.8%;
    /* bottom: 1%; */
  }
  75%{
    left: 25.2%;
    /* bottom: 1%; */
  }
  80%{
    left: 24.5%;
    /* bottom: 1%; */
  }
  85% {
    left: 24%;
    /* bottom: 1%; */
  }
  95%{
    left: 25.5%;
    /* bottom: 1%; */
  }
  100%{
    left: 24.5%;
    /* bottom: 1%; */
  }
}




/* Hiding scrollbar for all profile pages */
main::-webkit-scrollbar{
  display: none !important;
}

 .animateTest #dashRight{
    transform: translate3d(-80%, 0, 0);
    animation: fadeIn 1s forwards, slide-right forwards 6s, fadeOut 1s forwards  ;
    animation-delay: 4s, 4s, 12s;
    opacity: 0;
  }
  .animateTest #dashMiddle{
    transform: translate3d(-80%, 0, 0);
    animation: fadeIn 1s forwards, slide-right forwards 6s, fadeOut 1s forwards  ;
    animation-delay: 3s, 3s, 12s;
    opacity: 0;
  }
  .animateTest #dashLeft{
    transform: translate3d(-80%, 0, 0);
    animation: fadeIn 1s forwards, slide-right forwards 6s, fadeOut 1s forwards  ;
    animation-delay: 2s, 2s, 12s;
    opacity: 0;
  }

  .animateTest #dashFarLeft{
    transform: translate3d(-80%, 0, 0);
    animation: fadeIn 1s forwards, slide-right forwards 6s, fadeOut 1s forwards  ;
    animation-delay: 1s, 1s, 12s;
    opacity: 0;
  }

  .animateTest #circle{
    animation: fadeIn 1s forwards, fadeOut 1s forwards  ;
    animation-delay: 0s, 12s;
  }
  
  #dashRight{  
    position: absolute;
  }

  #dashMiddle{  
    position: absolute;
  }

  #dashLeft{  
    position: absolute;
  }

  #dashFarLeft{  
    position: absolute;
  }
  
  #circle{  
    position: absolute;
  }

.hiderRight {
  transform: translate3d(0,0,0);
}

@keyframes fadeOut{
  0%{opacity: 1;}
  100%{opacity: 0;}
}
@keyframes fadeIn{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes slide-left { 
  0%{ transform: translate3d(-80%, 0, 0);}
  25%{ transform: translate3d(0%, 0, 0);}
  100%{ transform: translate3d(0%, 0, 0);}
}

@keyframes slide-right { 
  0%{ transform: translate3d(-80%, 0, 0);}
  25%{ transform: translate3d(100%, 0, 0);}
  100%{ transform: translate3d(100%, 0, 0);}
}
@keyframes slide-rightWhoops { 
  0%{ transform: translate3d(-80%, 0, 0);}
  19%{ transform: translate3d(110%, 0, 0);}
  22%{ transform: translate3d(90%, 0, 0);}
  25%{ transform: translate3d(100%, 0, 0);}
  100%{ transform: translate3d(100%, 0, 0);}
}

.fancyUnderlineRight {
  color: inherit;
  text-decoration: none;
  text-underline-offset: 6px;
  background: linear-gradient(
      to top,
      #ffffff 0%,
      #ffffff 10%,
      transparent 10.01%
    )
    no-repeat right bottom / 0 100%;
  transition: background-size 0.5s;
}
.fancyUnderlineRight:hover {
  background-size: 100% 100%;
  color: #ffffff;
  border-color: #ffffff;

}
.fancyUnderlineCenter {
  text-decoration: none;
  text-underline-offset: 6px;
  background: linear-gradient(
      to top,
      #ffffff 0%,
      #ffffff 10%,
      transparent 10.01%
    )
    no-repeat center bottom / 0 100%;
  transition: background-size 0.5s;
}
.fancyUnderlineCenter:hover {
  background-size: 100% 100%;
  color: #ffffff;
  border-color: #ffffff;

}
.fancyUnderlineLeft {
  color: inherit;
  text-decoration: none;
  text-underline-offset: 6px;
  background: linear-gradient(
      to top,
      #ffffff 0%,
      #ffffff 10%,
      transparent 10.01%
    )
    no-repeat left bottom / 0 100%;
  transition: background-size 0.5s;
}
.fancyUnderlineLeft:hover {
  background-size: 100% 100%;
  color: #ffffff;
  border-color: #ffffff;

}